body{
    background-image: linear-gradient(rgb(88, 98, 236), rgb(89, 235, 210));
    
}

header{
    margin: 0;
    padding: 10px;
    border-bottom: 5px solid black;

}
#productos-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: ce;

}

.card{
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    border: solid 2px black;
    text-align: center;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    font-family: 'Hind Siliguri', sans-serif;
}

.container-img{
    height: 20px;
    width: 20px;
}

.imagenes{
    border: solid black;
    width: 150px;
    height: 150px;
}


.button-card{
    height: 40px;
    width: fit-content;
}

.titulo{
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    
    
}